<h1>履歴</h1>
<% if user_signed_in? %>
  <% @contents.each do |content| %>
    <p>| <%= content.when %> | <%= content.what %> | <%= content.how %></p>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>